body {
  background-color: lightblue;
  font-family: Arial, Verdana, sans-serif;
  padding-left: 2.5em;
}

.header {
  text-align: center;
  border: 1px solid black;
  width: 40%;
  margin: auto;
  border-radius: 25px;
}

h1 {
  margin-bottom: 0px;
}

.contact_block {
  margin-top: 0px;
}

.employment {
  padding-left: 2.5em;
  line-height: 1.3em;
}

.school {
  margin-bottom: 0px;
}

.location {
  margin-top: 0.3em;
  font-size: 90%;
}

.education, .awards {
  padding-left: 2.5em;
}
